:root {
	--border-color: #dddddd;
}

* {
	margin: 0;
    padding: 0;
   	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.place-table {
 	border-collapse: collapse;
  	width: 100%;
}

td, th {
	border: 1px solid var(--border-color);
  	text-align: left;
}