:root {
	--border-color: #dddddd;
}

* {
	margin: 0;
    padding: 0;
   	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin: 10px;
}

table {
 	border-collapse: collapse;
  	width: 100%;
}

img {
	height: 200px;
	width: auto;
}

td, th {
	border: 1px solid var(--border-color);
  	text-align: left;
  	padding: 10px 50px;
  	width: 33%;
}